<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Life Engine API Documentation</title>
    <meta name="author" content="DLI">
    <meta name="description" content="Life Engine API Documentation">
    <meta name="keywords" content="engine,api,docs">
  </head>
  <body>
    <h1>Life Engine API Documentation</h1>
    {% block content %}
    <ul>
      {% for page in mainIndexRenderData.pages %}
      <li><a href="{{ page.path }}">{{ page.name }}</a></li>
      {% endfor %}
    </ul>
    {% endblock %}
  </body>
</html>
